body {
  font-family: 'Noto Sans JP', sans-serif;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
}

button{
  border: none;
  outline: none;
  background: transparent;
}

/* header */
.header-section{
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #fff;
  justify-content: space-between;
  z-index: 10;
}
.header-logo{
  padding: 20px 15px;
}
.nav-lists{
  align-items: center;
  display: flex;
}
/* .nav-pages{} */
.pages-list{
  display: flex;
  font-size: 14px;
  font-weight: bold;
  gap: 18px;
}
.pages-items a{
  color: #666;
  letter-spacing: 2px;
}
/* .nav-sns{} */
.sns-list{
  display: flex;
  gap: 8px;
  padding-right:15px;
}
.sns-items{
  margin: 0 10px;
}
.sns-items-link{
  align-items: center;
  border: solid 1px #eee;
  border-radius: 50%;
  color: #adadad;
  display: inline-flex;
  font-size: 24px;
  height: 45px;
  justify-content: center;
  width: 45px;
}


/* footer */
.footer-under-line{
  /* position: relative; */
  border: #eee solid 0.1px;
  margin: 0 0 20px 0;
}
.footer{
  /* position: absolute; */
  width: 100%;
  text-align: center;
}
.footer-logo{
  margin: 30px 0;
}
.footer-logo img{
  height: 15%;
  width: 15%;
}
.footer-siteinfo{
  color: #666;
  font-size: 14px;
  margin: 20px 0;
}
.footer-sns{
  padding: 0;
  margin: 40px 0;
}
.footer-sns-items{
  margin: 0 10px;
  display: inline-block;
}
.copywrite{
  display: block;
  text-align: center;
  margin-bottom: 50px;
  color: #666;
  font-size: 12px;
}

/* 
icon
*/
@font-face {
  font-display: inline-block;
  font-family: "posse-icon";
  font-style: normal;
  font-weight: normal;
  src: url("../img/posse-icon.ttf?bbqgr3") format("truetype"), url("../img/posse-icon.woff?bbqgr3") format("woff"), url("../assets/img/posse-icon.svg?bbqgr3#posse-icon") format("svg");
}
i, .icomoon-liga {
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "posse-icon" !important;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
}
.u-icon-instagram:before {
  content: "\ea92";
}
.u-icon-twitter:before {
  content: "\ea96";
}

/* top-css */

/*
seventh-habit
*/
.main-section{}
.seventh-habit{}
.background{
  position: relative;
  width: 1351px;
  height: 773px;
} 

.background img {
  width: 100%;
  height: 100%;
}
.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.top-title{
  top: 5%;
  left: 45%;
  color:#fff;
  position: absolute;
  text-align: center;
}
.habit-both-side{
  top: 10%;
  margin: 0 20px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.habit-left-side{
  margin: auto 0;
}
.habit-right-side{
  margin: auto 0;
}
.habit-list{}
.habit-items{
  padding: 15px 15px ;
  background-color: #e9e8e8;
  opacity: 0.6;
  border-radius: 16px;
  margin: 15px;
  letter-spacing: 0.1em;
}
.habit-items:hover{
  background-color: #fff;
  opacity: 1;
}
.habit-title{}
.habit-contents{}

/*
html-link 
*/
.html-link{}
.link-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 18px;
  width: 90%;
  margin: 50px 5% 20px;
  padding-left: 0;
}
.link-items{
  opacity: 0.5;
  height: 250px;

}
.link-items.item1{
  background-color: rgb(120, 241, 146);
}
.link-items.item2{
  background-color: rgb(95, 145, 240);
}
.link-items.item3{
  background-color: rgb(241, 120, 225);
}

/* speech-css */
.speech-main{
background: url(../img/background-speech.jpeg);
}

.speech-title{
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
   /* background-color: #cbc7c7;
  width: 40%;
  transform: translate(80%,50%);  */
}

.speech-subtitle{
  text-indent: 5em;
  margin-bottom: 10px;
}

.speech-box{
  display:  grid;
  margin: 2%  7%;
  margin-bottom: 0px;
  grid-template-columns: repeat(3,1fr);
}

.speech-items{
  /* border: 1px solid #333; */
  border-radius: 8px;  
   margin: 0 20px 0 20px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2.8fr;
  background-color: rgb(241, 246, 247);
  cursor: pointer;
  box-shadow: 5px 5px 2px 0px #eee;
}

.speech-items:hover{
  background-color: rgb(219, 234, 241);

}

.speech-content{
  overflow: hidden;
  width: 100%;
}

.speech-contents-show{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.speech-contents-hide{
  display: none;
}

.speech-icon{
  width: 100px;
  border-radius: 25px;
  /* margin-top: 25px;
  margin-bottom: 25px; */
}



/* birthday-css */

/* event-css */